extends layout

block layout-content
    div.content
        h1.page-title Edit menu link
        form(method="post", action="/menu/edit/link").formContainer
            input(type="hidden", name="id", value=editLink._id)
            div
                label(for="wgt") Weight:
                input(type="number", min="0", value=editLink.weight, id="wgt", name="weight")
            div
                label(for="href") URI:
                input(type="text", id="href", name="href", placeholder="e.g. /mypage", value=editLink.href)
            div
                label(for="link-name") Name:
                input(type="text", id="link-name", name="name", placeholder="e.g. About", value=editLink.name)
            div
                label(for="description") Description:
                input(type="text", id="description", name="description", placeholder="e.g. enter description", value=editLink.description)
            button(type="submit").updateBtn Update link